    ::-moz-selection{
    background-color:Transparent;
    color:#000;
    }

    ::selection {
    background-color:Transparent;
    color:#000;
    }
.myclass::-moz-selection,
.myclass::selection { ... }